.whole-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  display: flex;
  background-color: #faf9f9;
  width: 80%;
  max-width: 900px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label,h2{
  color:#372c7f
}

.login-form {
  flex: 1;
  padding: 50px;
}

.login-form h2 {
  margin-bottom: 20px;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #e6f2ff; /* Updated background color */
  color: #003366; /* Updated text color */
}

.form-group.remember-me {
  display: flex;
  align-items: center;
}

.sign-in-button {
  width: 100%;
  padding: 10px;
  background: linear-gradient(to right, #668fe1, #372c7f);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.forgot-password {
  display: block;
  margin-top: 10px;
  color: linear-gradient(to right, #668fe1, #372c7f);
  text-decoration: none;
}

.login-info {
  flex: 1;
  color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-info img {
  width: 120%; /* Increase image width */
  max-width: 600px; /* Set a maximum width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 12px; /* Keep rounded corners */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Add subtle shadow */
  transition: transform 0.3s ease-in-out;
}

/* Hover effect for a smooth zoom */
.login-info img:hover {
  transform: scale(1.05);
}

.login-info h2 {
  margin-bottom: 20px;
}

.login-info p {
  font-size: 18px;
}

.login-info a {
  color: white;
  text-decoration: underline;
}

.icon {
  margin-right: 8px;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.toggle-password {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.eye-button {
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.eye-button:hover {
  transform: scale(1.2);
  color: #007bff;
}
